.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 270px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 40px 60px 40px;
    margin: 0 auto;
    width: 560px;
    text-align: center;
}

.button {
    margin-bottom: 80px;
}

.wrapper {
    display: flex;
    margin-bottom: 80px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.description {
    color: #4C4CFF;
}

:global .input.input_size_default {
    width: 480px;
}