.container {
    display: flex;
    margin: 0 auto;
    padding-top: 120px;
    max-width: 1240px;
    column-gap: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
}

.wrapper_nav {
    display: flex;
    margin-bottom: 80px;
    flex-direction: column;
    row-gap: 43px;
}

.wrapper_inputs {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

:global .input.input_size_default {
    width: 480px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.description {
    color: #4C4CFF;
}

.active {
    color: var(--text-primary-color);
}