.container {
    position: relative;
    margin: 0 auto;
    margin-top: 180px;
    padding: 40px 40px 60px 40px;
    width: 720px;
    height: 718px;
    background-color: #1C1C21;
    border-radius: 40px;
    z-index: 10;
}

.icon {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}