.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px 40px 60px 40px;
    justify-content: flex-end;
    width: 640px;
    text-align: center;
    gap: 30px;
}

.container_detales {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}