.container {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 626px;
    gap: 60px;
}

.readyInwork {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.ready,
.inwork {
    width: 272px;
    max-height: 295px;
    overflow: hidden;
}