.wrapper {
    max-height: 620px;
    overflow: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
}

.nav {
    margin-bottom: 40px;
    width: 100%;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 56px;
    border-bottom: 1px solid #2F2F37;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 272px;
    min-height: 208px;
    background-repeat: no-repeat;
    background-position: center;
}

.ingredients_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredients_position_bun {
    margin-bottom: 40px;
}

.menuLeft {
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}