.header {
    background-color: #1C1C21;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 88px;
    color: #8585AD;
}

.list2 {
    display: flex;
    column-gap: 48px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.icon {
    display: flex;
    column-gap: 8px;
    align-items: center;
}